{%load socialaccount %}
{% providers_media_js %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=l77jklgg0l"></script>
</head>
<body>

        <h1>hello world!</h1>

        <a href="/accounts/signup">회원가입</a> <br>
        
        {% if user.is_authenticated %}
        <a href="/accounts/logout">로그아웃</a> <br>
        {{user.username}} 님이 로그인 중
        
        {% else %}
        <a href="{% provider_login_url 'google' %}">구글 로그인</a> <br>
        
        {%endif%}    

<div id="map" style="width:50%;height:400px;"></div>
<br>
<div id="map2" style="width:50%;height:400px;"></div>


<script>
var HOME_PATH = window.HOME_PATH || '.';

var cityhall = new naver.maps.LatLng(36.6061932,127.360436),
    map = new naver.maps.Map('map', {
        center: cityhall.destinationPoint(0, 500),
        zoom: 10
    }),
    marker = new naver.maps.Marker({
        map: map,
        position: cityhall
    });

var contentString = [
        '<div class="iw_inner">',
        '   <h3>한국교원대</h3>',
        '   <p>충청북도 청주시 흥덕구 강내면 태성탑연로 250<br />',
        '     <br />',
        '     <br />',
        '       <a href="http://www.knue.ac.kr/smain.html" target="_blank">http://www.knue.ac.kr/smain.html</a>',
        '   </p>',
        '</div>'
    ].join('');

var infowindow = new naver.maps.InfoWindow({
    content: contentString
});

naver.maps.Event.addListener(marker, "click", function(e) {
    if (infowindow.getMap()) {
        infowindow.close();
    } else {
        infowindow.open(map, marker);
    }
});

infowindow.open(map, marker);
</script>
</body>
</html>

